<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86073255564-qms9kduf3g0a2g9o7pk5nlask8bofflb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86073255564-qms9kduf3g0a2g9o7pk5nlask8bofflb</string>
	<key>API_KEY</key>
	<string>AIzaSyADilU_3Be2I8HyTgVDuyxsdX959BFAb6A</string>
	<key>GCM_SENDER_ID</key>
	<string>86073255564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hopeApp</string>
	<key>PROJECT_ID</key>
	<string>hopeapp-b5634</string>
	<key>STORAGE_BUCKET</key>
	<string>hopeapp-b5634.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86073255564:ios:e00602e902d57a51793da9</string>
</dict>
</plist>